.button {
  background-color: white;
}
.button:hover {
  background-color: grey;
}
.border {
  /* border-bottom: 2px; */
}
.total-price {
  border-top: 3px solid black;
  width: 100px;
}

.apply-button {
  background-color: red;
  color: white;
  margin-left: -4px;
}
.total {
  margin-left: 100px;
  border-top: 2px solid rgba(41, 41, 41, 0.253);
  text-align: center;
}
.border-bottom {
  border-bottom: 2px solid rgba(41, 41, 41, 0.253);
}
